@font-face{
    font-family: 'Big Shoulders';
    src: url('./../../assets/fonts/BigShouldersDisplay-Regular.ttf');
}

@font-face{
    font-family: 'Anton';
    src: url('./../../assets/fonts/Anton-Regular.ttf');
}